<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(160deg, white, #3678b4, black);

        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 shadow-1">
                {% if msg %}
                <p class="text-center p-3 rounded bg-{{color}}-subtle text-{{color}}">{{msg}}</p>
                {% endif %}
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h3 class="text-center mb-4 text-primary-emphasis">Forgot Password</h3>
                        <form method="POST" action="/forgot_password/">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="forgotemail">Email</label>
                                <input type="email" placeholder="abc@xyz.com" class="form-control" name="forgotemail"
                                    id="forgotemail" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS Bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>